:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-color: #272142;
  --font-family-heading: "Playfair Display", serif;
  --font-family-default: "Poppins", sans-serif;
}
body {
  font-family: var(--font-family-default);
}
h1 {
  font-family: var(--font-family-heading);
  font-weight: 700;
  color: black;
}
p {
  font-size: 18px;
  color: var(--heading-color);
  text-align: center;
  line-height: 27px;
  margin: 60px 0;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 80px 40px;
}
.hero p {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: var(--heading-color);
}
.hero h1 {
  font-size: 96px;
  line-height: 128px;
  font-style: normal;
}
.hero h2 {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.btn-branding {
  background: var(--primary-color);
  color: #ffffff;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  line-height: 27px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-branding-outline {
  color: var(--primary-color);
  padding: 18px 30px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  line-height: 63px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 40px 0;
}
.project h1 {
  font-size: 64px;
  line-height: 85px;
}
.project p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(39, 33, 66, 0.7);
  text-align: left;
}
.project h2 {
  font-size: 18px;
  line-height: 27px;
}
.project-description {
  margin: 90px 60px;
}
.about-me h1 {
  font-size: 64px;
  line-height: 85px;
}
.about-me p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(39, 33, 66, 0.7);
  text-align: left;
}
.about-me h2 {
  font-size: 18px;
  line-height: 27px;
}

.my-work-section h1 {
  text-align: left;
  font-size: 64px;
  line-height: 85px;
}
.my-work-section h2 {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}
.my-work-section p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(39, 33, 66, 0.7);
}
.contact-box h1 {
  font-size: 48px;
  line-height: 64px;
}
.contact-box p {
  font-size: 18px;
  color: rgba(39, 33, 66, 0.7);
  font-weight: 400;
  line-height: 27px;
}
.contact-box {
  background: var(--secondary-color);
  border-radius: 20px;
  padding: 50px 120px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.navigation {
  padding: 20px 0;
}
.navigation-link ul {
  padding: 0;
  margin: 0;
}
.navigation-links li {
  display: inline;
  padding-left: 15px;
  list-style: none;
  line-height: 24px;
}
.navigation-links a {
  text-decoration: none;
  color: #272142;
  font-size: 16px;
}

.navigation-links a.active,
.navigation-links a:hover {
  color: var(--primary-color);
}

.logo {
  max-width: 140px;
}
.logosm {
  max-width: 50px;
  margin: 0;
  padding: 0;
}
.email-link {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 24px;
}
.email-link:hover {
  color: var(--primary-color);
}
.my-contact-section h1 {
  font-size: 60px;
  line-height: 80px;
}
.icon {
  color: #6c63ff;
  font-size: 30px;
  margin: 0 20px;
}
.gh-link {
  text-decoration: none;
  color: var(--primary-color);
}
.final-note {
  font-size: 14px;
}

@media (max-width: 900px) {
  .project {
    text-align: center;
  }
  .about-me {
    text-align: center;
  }
  p {
    margin: 60px 0;
    font-size: 22px;
  }
  .project-description {
    margin: 20px;
  }
  .hero {
    padding: 50px 40px;
  }
  .hero h1 {
    font-size: 76px;
    line-height: 80px;
    font-style: normal;
    margin-bottom: 20px;
  }
  .project h1 {
    font-size: 54px;
    line-height: 50px;
    font-style: normal;
  }
  .about-me h1 {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 40px;
  }
  .about-me h2 {
    margin-bottom: 10px;
  }
  .about-me p {
    text-align: center;
  }
  .my-work-section h1 {
    font-size: 60px;
    line-height: 80px;
    font-style: normal;
    margin-bottom: 20px;
  }
  .contact-box {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .final-note {
    font-size: 10px;
  }
  .Patricia-profile {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .my-work-section h1 {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 40px;
    text-align: center;
  }
  .my-contact-section h1 {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 40px;
    text-align: center;
  }
}
