:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-color: #272142;
  --font-family-heading: "Playfair Display", serif;
  --font-family-default: "Poppins", sans-serif;
}
body {
  font-family: var(--font-family-default);
}
h1 {
  font-family: var(--font-family-heading);
  font-weight: 700;
  color: black;
}
p {
  font-size: 18px;
  color: var(--heading-color);
  text-align: center;
  line-height: 27px;
  margin: 60px 0;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 200px 40px;
}
.hero p {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: var(--heading-color);
}
.hero h1 {
  font-size: 96px;
  line-height: 128px;
  font-style: normal;
}
.hero h2 {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.btn-branding {
  background: var(--primary-color);
  color: #ffffff;
  width: 200px;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  line-height: 63px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 40px 0;
}
.btn-branding-outline {
  color: var(--primary-color);
  width: 200px;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  line-height: 63px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 40px 0;
}
.project h1 {
  font-size: 64px;
  line-height: 85px;
  font-style: normal;
}
.project p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(39, 33, 66, 0.7);
  text-align: left;
}
.project-description {
  margin: 90px 60px;
}
@media (max-width: 900px) {
  .project {
    text-align: center;
  }
  p {
    margin: 60px 0;
    font-size: 22px;
  }
  .project-description {
    margin: 20px;
  }
  .hero {
    padding: 100px 40px;
  }
  .hero h1 {
    font-size: 76px;
    line-height: 80px;
    font-style: normal;
    margin-bottom: 20px;
  }
  .project h1 {
    font-size: 54px;
    line-height: 50px;
    font-style: normal;
  }
}
